body {
  margin: 0;
  max-width: 100%;
  background-color: #FDF0E9;
  font-family: epilogue-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: epilogue-regular;
  src: url('./Assets/Font/Epilogue/static/Epilogue-Regular.ttf');
}


@font-face {
  font-family: epilogue-medium;
  src: url('./Assets/Font/Epilogue/static/Epilogue-Medium.ttf');
}


@font-face {
  font-family: epilogue-black;
  src: url('./Assets/Font/Epilogue/static/Epilogue-Black.ttf');
}